<nav class="navbar navbar-expand-md hk-navbar shadow-sm sticky-top">
  <div class="container">
    <a class="navbar-brand hk-brand" href="/">
      <img src="/images/logo.jpg" class="hk-logo" alt="logo" />
      <span class="hk-brand-text">Homekuti</span>
      </a>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
      <div class="navbar-nav hk-nav">
        <a class="nav-link <%= activeRoute === '/' ? 'active' : '' %>" href="/">Home</a>

        <a class="nav-link <%= activeRoute === '/listings' ? 'active' : '' %>" href="/listings">
          All Listing
        </a>

        <a class="nav-link <%= activeRoute === '/listings/new' ? 'active' : '' %>" href="/listings/new">
          Add new Listing
        </a>
      </div>
    </div>
  </div>
</nav>