<nav class="navbar navbar-expand-md hk-navbar shadow-sm sticky-top">
  <div class="container">
    <!-- Brand -->
    <a class="navbar-brand hk-brand" href="/">
      <img src="/images/logo.jpg" class="hk-logo" alt="Homekuti Logo" />
      <span>Homekuti</span>
    </a>

    <!-- Mobile Toggle -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Links -->
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <div class="navbar-nav hk-nav">
        <a class="nav-link <%= activeRoute === '/' ? 'active' : '' %>" href="/">
          Home
        </a>
        <a class="nav-link <%= activeRoute === '/listings' ? 'active' : '' %>" href="/listings">
          All Listings
        </a>
        <a class="nav-link <%= activeRoute === '/listings/new' ? 'active' : '' %>" href="/listings/new">
          Add Listing
        </a>

        <!-- User Dropdown -->
        <div class="nav-item dropdown ms-auto">

          <!-- Hamburger Button -->
          <a class="nav-link user-menu-btn" href="#" id="userMenu" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">

            <i class="fa-solid fa-bars"></i>
          </a>

          <!-- Dropdown Menu -->
          <ul class="dropdown-menu dropdown-menu-end user-dropdown" aria-labelledby="userMenu">

            <% if(!currUser) { %>

              <!-- Sign Up -->
              <a href="/user/signup" class="dropdown-item auth-item">
                <i class="fa-solid fa-user-plus"></i>
                <span>Sign Up</span>
              </a>

              <!-- Sign In -->
              <a href="/user/signin" class="dropdown-item auth-item">
                <i class="fa-solid fa-right-to-bracket"></i>
                <span>Sign In</span>
              </a>

              <% } %>


                <% if(currUser) { %>

                  <!-- Logout -->
                  <a href="/user/logout" class="dropdown-item auth-item logout-item">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    <span>Log Out</span>
                  </a>

                  <% } %>

          </ul>

        </div>

      </div>
    </div>
</nav>